@import  'element-ui/lib/theme-chalk/index.css';

.el-header {
    background-color: #61a0f1;
    color: #333;
    line-height: 60px;
  }
  
  .el-aside {
    color: #333;
  }


  .app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}